@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300&family=Nunito:wght@300;600&display=swap');
*{
    font-family: Outfit;
    color: #74c5cc;
    margin: 0;
    padding:0;
}

body{
    background-image: url('../img/dashboard.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

/*WCENTER BOX*/

.centerbox{
    border-radius: 20px;
    background-color: white    ;
    margin: auto;
    height: 80vh;
    width: 70%;
    transform: translate(0%, 10%);
    overflow: hidden;
    box-shadow: 10px 10px 15px #c9c2c4;
}

/*WHITE LEFT BOX*/

.whitebox{
    background-color: #B3DEE2;
    width: 15%;
    float:left;
    height: 100vh;
    position: fixed;
}

/*PROFILE WHITE LEFT BOX*/
.profile{
    width:100%;
    height:15%;
}

.nameaddress{
    width:100%;
    padding:10%;
}

.nameaddress p{
    font-size: 23px;
    color: white;
}

#nemail{
    font-size: 18px;
}

.buttonss{
    width:100%;
    display:block;
    padding:5% 10%;
    font-size: 23px;
    color: white;
    text-decoration: none;
}



/*CONTENT IN THE MIDDLE*/
.wcontents{
    float:right;
    width:80%;
    padding:2.5%;
}

.content h1{
    font-size: 45px;
    padding-top:2.5%;
}

.content p{
    font-size: 18px;
    width:70%;
    color: rgb(83, 82, 82);
}


/*TABLE SIZES*/
#tid {
    width:5%;
}

#tname {
    width:20%;
}

#ttype, #tvarcount, #tprice {
    width:10%;
}

#tcategory{
    width:15%;
}

/*TABLE*/
table {
    width:100%;
}

table th, table td {
    border-bottom:1px solid #B3DEE2;
    text-align: left;
    color: black;
    padding: 1% 0;
    text-align: center;
}

table td {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

table th{
    font-size:17px;
    border-bottom: 3px solid #74c5cc;
    background-color: #74c5cc;
    color:white;
}

table button{
    padding:3%;
    width: 30%;
    background-color: #EA9AB2;
    border:none;
    
}

table a{
    text-decoration: none;
    color:white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#addB{
    background-color: #74c5cc;
}

#editB{
    background-color: rgb(241, 197, 139);
}