@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap');

*
{
    font-family: Roboto;
    margin: 0;
    padding:0;
}


/* HEADER */
header{
    background-color: #b3dee2;
    height:100px;
    width:100%;
}

header .head{
    width:70%;
    height: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a{
    color: white;
    font-family: Outfit;
    text-decoration: none;
}

header .sweetteas {
    width:40%;
    display: flex;
    float:left;
}

header .tabs{
    float: right;
    width: 60%;
    text-align: right;
}

header .tabs a {
    padding: 0 30px;
}

#coloredsignin{
    color: #e27396;
}

/*MENU TAB*/
.item-container{
    width:100%;
    
}

.item{
    width:25%;
    text-align: center;
    background-color: gray;
    overflow: hidden; /* hide any overflow from the image */
    display: inline-block; /* use flexbox to center the image */
    align-items: center;
    justify-content: center;
}

.item img{
    width:70%;
    margin:10%;
    object-fit: cover;
}

.item h3{
    font-family:"Playfair Display", serif ;
    font-weight: lighter;
    font-size:20px;
    letter-spacing: 0.03em;
}

.item p{
    line-height: 2em;
    margin:5% auto;
    width:70%;
}

.item-description{
    font-family: 'Lato', sans-serif;
}

.item-price {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    border-top:1px solid black;
}

.item button {
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    padding: 2.5% 5%;
    background-color: transparent;
    border: solid 1px black;
    margin-bottom: 10%;
}

#trysss{
    width:10%;
}