@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&family=Roboto:wght@500&display=swap');*
*
{
    font-family: Outfit;
    color: #e27396;
    margin: 0;
    padding:0;
}

body{
    background-color: #efcfe3;
    background-image: url('ng.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

/* HEADER */
header{
    background-color: #b3dee2;
    height:100px;
    width:100%;
}

header .head{
    width:70%;
    height: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a{
    color: white;
    font-family: Outfit;
    text-decoration: none;
}

header .sweetteas {
    width:40%;
    display: flex;
    float:left;
}

header .tabs{
    float: right;
    width: 60%;
    text-align: right;
}

header .tabs a {
    padding: 0 30px;
}

#coloredsignin{
    color: #e27396;
}


/*WCENTER BOX*/

.centerbox{
    border-radius: 20px;
    background-color: white    ;
    margin: auto;
    height: 80vh;
    width: 70%;
    transform: translate(0%, 10%);
    overflow: hidden;
    box-shadow: 10px 10px 15px #c9c2c4;
}

/*WHITE LEFT BOX*/

.whitebox{
    border-radius: 20px;
    background-color: #EA9AB2;
    width: 20%;
    height: 100%;
    float:left;
}

.content{
    height: 100%;
}

/*PROFILE WHITE LEFT BOX*/
.whitebox .profile{
    height: 15%;
    margin-top: 5%;
    padding-top: 5%;
    padding-left: 6%;
    
}

.logotab{
    width: 25%;
    height: 75%;
    float: left;
    transform: translate(0%, 5%);
}

#logo{
    width: 100%;
    height: 80%;
}

.nameaddress{
    width: 60%;
    height: 80%;
    padding-top: 5%;
    padding-right: 10%;
    float: right;
}

.nameaddress p{
    font-size: 24px;
    color: white;
}

/*TABS WHITE LEFT BOX*/

.button{
    height: 100%;
    width: 100%;
    margin-top: 5%;
}

.buttonss{
    width:100%;
    display:block;
    text-indent: 10%;
    margin-top: 10%;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

/*CONTENT IN THE MIDDLE*/
.wcontents{
    float:right;
    width:75%;
    margin: 2.5%;
}

.content p{
    font-size: 1.5em;
}

.content .heading{
    font-size: 3em;
}

/*TABLE*/
table {
    width:100%;
    margin-top: 2%;
    font-size: 1.5em;
}

table th, table td {
    border-bottom:1px solid #e27396;
    text-align: left;
    color: black;
    width:33%;
    padding: 1.5% 0;
}

table th{
   border-bottom: 3px solid #EA9AB2;
}